.content {
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    width: 24rem;
    margin-bottom: 2rem;
}

.info {
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.5rem;
}

.info p {
    padding-bottom: 2px;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 800;
}

.info span {
    font-weight: normal;
}

img {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 14rem;
    width: 24rem
}

.functions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.5rem 5rem;
    column-gap: 1rem;
}

a{
    text-decoration: none;
    color: black;
}