.big-flag {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.detail-container {
    min-height: 71vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.btn {
    border-radius: 5px;
    box-shadow: 0 0 50px -20px;
    padding:1rem 3rem;
    background-color: white;
    border: none;
}

.details{
    display: flex;
    column-gap: 5rem;
}

.details > div {
    flex: 1;
}

.details > div > h1 {
    font-size: 2.5rem;
}

.border {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

.country-info p{
    font-size: 1.3rem;
    font-weight: 600;
}

.country-info span{
    font-size: 1.3rem;
    font-weight: 400;
}

.country-info {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
}

.country-info > div {
    display: flex;
    column-gap: 1.5rem;
}

.dark{
    box-shadow: none;
}