header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2rem 5rem;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

label {
    font-weight: 600;
    font-size: 1.1rem;
}

.DarkMode {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    padding-right: 0.5rem;
    height: 1.2rem;
}