@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Nunito Sans', 'sans-serif';
}

body {
  background-color: hsl(0, 0%, 98%);
}

.box{
  min-height: 71vh;
}

.dark{
  background-color: hsl(209, 23%, 22%) !important;
  color: white;
}

.dark::placeholder {
  color: white;
}

.darker {
  background-color: hsl(207, 26%, 17%);
  color: white;
}